node_modules/
.env
node_modules/
.env


# SESSION_SECRET=ajay-oauth-secret
# JWT_SECRET=a8b85a45c0a810368bf10e496395e90851fd87e9f7a5fa28a593a6bf64f04bf42465d5ec8b6d7671b8f857bab9f3781b2cc6c01fceb78e677fc3c1f90a5d0091 
# ESEWA_SECRET_KEY= "8gBm/:&EnhH.1/q"
# ESEWA_GATEWAY_URL = "https://rc-epay.esewa.com.np"
# ESEWA_PRODUCT_CODE = "EPAYTEST"
# BACKEND_URI = "http://localhost:3001"
# DB_URI = "mongodb://localhost:27017/Online_Food_Order_Datas"
# CLIENT_URL=http://localhost:3000
# EMAIL_USER="jajay7941@gmail.com"
# EMAIL_PASS=wtmo vkuu pqfn dmvg


# VITE_BACKEND_URL=http://localhost:3001
# VITE_ESEWA_GATEWAY=https://rc-epay.esewa.com.np
# VITE_ESEWA_PRODUCT_CODE=EPAYTEST
